<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div style="background-color: deepskyblue">
        <span>作者:{{ author }}</span>
        <span>发表时间:{{ issuing_time }}</span>
        <span>最后修改:{{ last_modified }}</span>
        <span style="float: right">
        <a href="">收藏</a>
        {% if True %}
            <a href="" >编辑</a>
            <a href="{% url "blog:Delete" %}" style="padding-right: 3px">删除</a>
        {% endif %}
        </span>
    </div>
    <h1 style="text-align: center">{{ title }}</h1>
    <pre>{{ content|safe }}</pre>
    <iframe></iframe>
</body>
</html>