<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div style="background-color: deepskyblue">
        <span>作者:{{ author }}</span>
        <span>发表时间:{{ issuing_time }}</span>
        <span>最后修改:{{ last_modified }}</span>

        <a href="{% url "blog:Delete" %}" style="float: right">删除</a>
        <a href="" style="float: right; padding-right: 3px">编辑</a>
    </div>
    <h1 style="text-align: center">{{ title }}</h1>
    <p>{{ content }}</p>
    <iframe></iframe>
</body>
</html>