<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
    {% for comment in comments %}
        <div style="background-color: gray">
            <hr/>
            {% if comment.superior %}
                <span style="text-align: center; font-size: 5px; background-color: darkgray">
                    {{ comment.superior.author }}:{{ comment.superior.content }}
                </span>
            {% endif %}
            <span>{{comment.content}}</span><br>
            <span style="text-align: right; font-size: 3px">
                {{ comment.author }}&nbsp;{{ comment.issue_time|date:"Y-m-d H:i:s" }}
            </span>
        </div>
    {% endfor %}
    <div style="text-align: right">
    {% if pages|length > 1 %}
        {% for p in pages %}
            <a href="{% url "blog:CommentsList" aid p %}">
                {% if p == page %}
                    "{{ p }}"
                {% else %}
                    {{ p }}
                {% endif %}
            </a>
        {% endfor %}
    {% endif %}
</body>
</html>