<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>注册</title>
{#        <script>#}
{#            var legal_email = false;#}
{#            var pwdConfirmed = false;#}
{#            var legle_name = false;#}
{#            var legle_pwd = false;#}
{#            function email_Check() {#}
{#                var checker = /^\w+@[A-Za-z0-9]+(?:\.[A-Za-z0-9]+)+$/;#}
{#                with (document.reg) {#}
{#                    //console.log(email.value);#}
{#                    if (checker.test(email.value)) {#}
{#                        legal_email = true;#}
{#                        document.getElementById("mes3").innerHTML="";#}
{#                    }else {#}
{#                        legal_email = false;#}
{#                        document.getElementById("mes3").innerHTML="请输入正确的电子邮件！";#}
{#                    }#}
{#                }#}
{#                status_Checker()#}
{#            }#}
{##}
{#            function toConfirm_Password() {#}
{#                with (document.reg) {#}
{#                    if (password.value == confirm_password.value){#}
{#                        pwdConfirmed = true;#}
{#                        document.getElementById("mes2").innerHTML="";#}
{#                    } else {#}
{#                        pwdConfirmed = false;#}
{#                        document.getElementById("mes2").innerHTML="两次输入的密码不一致";#}
{#                    }#}
{#                }#}
{#                status_Checker()#}
{#            }#}
{##}
{#            function pwdCheker() {#}
{#                with (document.reg) {#}
{#                    if (password.value == ""){#}
{#                        legle_pwd = false;#}
{#                        document.getElementById("mes1").innerHTML="请输入密码";#}
{#                    } else {#}
{#                        legle_pwd = true;#}
{#                        document.getElementById("mes1").innerHTML="";#}
{#                    }#}
{#                }#}
{#                toConfirm_Password()#}
{#                status_Checker()#}
{#            }#}
{#            function nameChecker() {#}
{#                with (document.reg) {#}
{#                    if (username.value == ""){#}
{#                        legle_name = false;#}
{#                        document.getElementById("mes0").innerHTML="请输入用户名";#}
{#                    } else {#}
{#                        legle_name = true;#}
{#                        document.getElementById("mes0").innerHTML="";#}
{#                    }#}
{#                }#}
{#                status_Checker()#}
{#            }#}
{##}
{#            function status_Checker() {#}
{#                if (legle_name && legle_pwd && legal_email && pwdConfirmed) {#}
{#                    console.log("OK:"+legle_name + legle_pwd + legal_email + pwdConfirmed);#}
{#                    document.reg.regbutten.disabled = false;#}
{#                } else {#}
{#                    console.log("not yet:"+legle_name + legle_pwd + legal_email + pwdConfirmed);#}
{#                    document.reg.regbutten.disabled = true;#}
{#                }#}
{#            }#}
{#        </script>#}
    </head>
    <body>

    <form action="{% url "account:Register" %}" style="" method="post" name="reg">
        {% csrf_token %}
{#        账户：<input type="text" name="username" onblur="nameChecker()"/><span id="mes0" style="color: red"></span><br/>#}
{#        密码：<input type="password" name="password" onblur="pwdCheker()"/><span id="mes1" style="color: red"></span><br/>#}
{#        确认密码:<input type="password" name="confirm_password" onblur="toConfirm_Password('reg')"/><span id="mes2" style="color: red"></span><br/>#}
{#        电子邮箱：<input type="text" onblur="email_Check()" name="email"/><span id="mes3" style="color: red"></span><br/>#}
{#        密保问题：<input type="text" name="question" value="如不填写，将无法找回密码"/><br/>#}
{#        答案：<input type="text" name="answer"/>#}
        <div style=" width: min-content">{{ reg_form }}</div>
        <input type="submit" value="注册"  name="regbutten">{{ result }}
    </form>


    </body>
</html>