<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
</head>
<body>
<div style="background-color: deepskyblue">
    <a href="{% url "Index" %}" style="color: white;text-decoration: none">博客主页</a>
    <a href="{% url "account:UserHome" 'Favourite' %}" style="color: white;text-decoration: none">我的收藏</a>
    <a href="{% url "blog:NewArticle" %}" style="color: white;text-decoration: none">创建文章</a>
    {{ login_status|safe }}
</div>
<div style="float: left;background-color: mediumturquoise; width: 18%; height:500px ">
    <h3>分类</h3>
    <a href="{% url "account:UserHome" 0 %}">all</a><br/>
    <span style="padding: 3px">
        {% for g in article_group %}
            <a href="{% url "account:UserHome" g.gid %}">{{ g.group_name }}</a><br/>
        {% endfor %}
    </span>
</div>
<div style="background-color: gray">
    <iframe src="{% url "blog:ArticleList" source %}" style="width: 81%; height: 500px"></iframe>
</div>
</body>
</html>