<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客</title>
</head>
<body>
    <a href="" style="float: right;font-size: 12px">注册</a><a href="" style="float: right;font-size: 12px;padding-right: 3px">登陆</a>
    <div id="head" style="color: deepskyblue;text-align: center;padding: 5"><h1>博客</h1></div>
    <nav style="background-color: deepskyblue;text-align: center;color: white">
        <a href="" style="color: white;text-decoration: none;padding: 5px" target="_blank" >所有文章</a>
        <a href="" style="color: white;text-decoration: none;padding: 5px" target="_blank">分类</a>
        <a href="" style="color: white;text-decoration: none;padding: 5px" target="_blank">个人主页</a>
    </nav>
</body>
</html>